<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <!-- <Login/> -->
    <div class="card">
    	<div class="card-body">
			<h4>User Details</h4> 
			<p>Name: {{username}}</p>   		
			<p>Email: {{useremail}}</p>   		
    	</div>
    </div>
    <div class="card">
    	<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(user, i) in users" :key="i">
						<td>{{user.name}}</td>
						<td>{{user.email}}</td>
					</tr>
				</tbody>
			</table>
			<div class="add-btn">
				<button class="btn btn-primary" v-on:click="addUser">Add User</button>
			</div>
    	</div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {
    //HelloWorld,
    //Login
  },
  data(){
  	return{
  		users:[],
  		username:"",
  		useremail:""
  	}
  },
  mounted(){
  	if(!this.$parent.isLoggedIn) {
  		this.$router.push("/login").catch(()=>{});
  	}
  	this.getUserList();
  	this.username = this.$parent.dummyUser.name;
  	this.useremail = this.$parent.dummyUser.email;
  },
  methods:{
  	getUserList: function () {
  		this.users = [
  			{name: "Chris Evans", email: "chris.evans@gmail.com"},
  			{name: "Jeremy Ranner", email: "jeremy.ranner@gmail.com"},
  			{name: "Robert Downey Jr", email: "robert.downey@gmail.com"}
  		];
  	},
  	addUser: function() {
  		var text = Math.random().toString(36).substring(4);
  		var obj = {name: text, email: text + "@gmail.com"};
  		this.users.push(obj);
  	}
  }
};
</script>

<style>
	.card-body{
		margin-bottom: 10px;
		background-color: #e7e7e7;
	}
</style>
