<template>
	<div class="login">
		<div class="card">
			<div class="card-body">
				<h2>Login Form</h2>
				<form>
					<div class="form-group">
						<label>Email</label>
						<input type="email" name="email" class="form-control" v-model="email">
					</div>

					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" class="form-control" v-model="password">
					</div>

					<div class="row">
						<div class="col-6 mx-auto">
							<div class="btn btn-block btn-primary" @click.prevent="loginUser">Login</div>							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	//import axios from "axios";
	export default {
		data(){
			return {
				email: "",
				password: ""
			}
		},
		methods:{
			loginUser: function () {
				var email = this.email;
				var password = this.password;
				//var _this = this;
				if (email == "" || password == "") {
					alert('Please Fill All Fields');
				} else {
					/*axios.post('https://reqres.in/api/login', {email, password})
					.then(function(response){
						console.log(response);
						_this.$emit("isLoggedIn", false);
						_this.$router.replace({name:"Home"});
					})
					.catch(function(errors){
						console.log(errors);
						alert("Invalid email and password");
					});*/
					if (email != this.$parent.dummyUser.email) {
						alert("Invalid Email");
					} else if(password != this.$parent.dummyUser.password) {
						alert("Invalid Password");
					} else {
						alert("Successfully Logged In");
						this.$emit("isLoggedIn", true);
						this.$router.replace({name:"Home"});
					}
				}
			}
		}
	}
</script>