<template>
	<div class="register">
		<div class="card">
			<div class="card-body">
				<h2>Registration Form</h2>
				<form>
					<div class="form-group">
						<label>Name</label>
						<input type="email" name="email" class="form-control" v-model="name">
					</div>

					<div class="form-group">
						<label>Email</label>
						<input type="email" name="email" class="form-control" v-model="email">
					</div>

					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" class="form-control" v-model="password">
					</div>

					<div class="row">
						<div class="col-6 mx-auto">
							<div class="btn btn-block btn-primary" @click.prevent="registerUser">Register</div>							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				name: "",
				email: "",
				password: "",
			}
		},
		methods:{
			registerUser: function () {
				var name = this.name;
				var email = this.email;
				var password = this.password;
				if (name == "" || email == "" || password =="") {
					alert("Please Fill All Fields");
				} else {
					this.$parent.dummyUser.name = name;
					this.$parent.dummyUser.email = email;
					this.$parent.dummyUser.password = password;
					alert("Successfully Registered. Please Login to continue");
					this.$emit("isLoggedIn", true);
					this.$router.replace({name:"Login"});
				}
			}
		}
	}
</script>