<template>
    <div class="header">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link class="navbar-brand" to="/"><img class="site-logo" alt="Vue logo" src="@/assets/logo.png" /></router-link>
            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <router-link class="navbar-brand" to="/">Home</router-link>
                    </li>

                    <li class="nav-item">
                        <router-link class="navbar-brand" to="/login">Login</router-link>
                    </li>

                    <li class="nav-item">
                        <router-link class="navbar-brand" to="/register">Register</router-link>
                    </li>
                </ul>
                <div class="profile-area" >
                    <div class="details">
                        <p>{{name}}</p>
                        <button class="btn btn-danger" v-on:click="logOut"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        props: ['name'],
        methods:{
            logOut: function() {
                this.$emit("logOutUser", true);
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
      margin: 40px 0 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 0 10px;
    }
    a {
      color: #42b983;
    }

    .site-logo {
        height: 35px;
    }
</style>
