<template>
  <div id="app">
    <div id="nav">
      <Header @logOutUser= "logOutUser" v-bind:name="dummyUser.name"/>
      <div class="container">
        <router-view @isLoggedIn="setLoggedIn"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Header from '@/components/Header.vue';

  export default {
    components:{
      Header
    },
    data() {
      return {
        isLoggedIn:false,
        dummyUser: {
          name: "",
          email:"",
          password:""
        },
        loggedIn:false
      }
    },
    mounted() {
      if(!this.isLoggedIn) {
        this.$router.push("/login").catch(()=>{});
      }
    },
    methods: {
      setLoggedIn(status) {
        this.isLoggedIn = status;
      },
      logOutUser() {
        if (!this.isLoggedIn) {
            alert("User is not logged in");
        } else {
            this.isLoggedIn = false;
            alert("User successfully logged out.");
            this.$router.replace({name:"Login"});
        }
      }
    }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.container {
  background-color: #fff;
}

.page-heading {
  color:#35495e;
}

/*p,label {
  color: #000;
}*/

label{
  float: left;
}
</style>
